
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: aquamarine;
  position: relative;
}
.loading{ 
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
}
.loadingCss{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingCss .loadingCtx {
  animation: loadingCtx 3s infinite ;
  -moz-animation: loadingCtx 3s infinite;	/* Firefox */
  -webkit-animation: loadingCtx 3s infinite;	/* Safari 和 Chrome */
  -o-animation: loadingCtx 3s infinite;	/* Opera */
  white-space:nowrap;
  overflow: hidden;
}
@keyframes loadingCtx
  {
  0%   {width: 48px;}
  25%  {width:52px;}
  50%  {width: 56px;}
  100% {width: 62px;}
  }
  
  @-moz-keyframes loadingCtx /* Firefox */
  {
    0%   {width: 48px;}
  25%  {width:52px;}
  50%  {width: 56px;}
  100% {width: 62px;}
  }
  
  @-webkit-keyframes loadingCtx /* Safari 和 Chrome */
  {
    0%   {width: 48px;}
  25%  {width:52px;}
  50%  {width: 56px;}
  100% {width: 62px;}
  }
  
  @-o-keyframes loadingCtx /* Opera */
  {
    0%   {width: 48px;}
  25%  {width:52px;}
  50%  {width: 56px;}
  100% {width: 62px;}
  }
.mapBox {
  margin-left: 50px;
  margin-top: 20px;    
  width: 800px;
  height: 600px;
  border: 1px solid #000;
  overflow: hidden;
}
.map{
  position: relative;
}
.map .chatInputBox {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.chatInputBox{
  display: none;
  position: relative;
  width: 800px;
  margin: -140px 0 0 60px;
}
.chatInputBox .inputTextarea{
  width: 754px;
  resize: none;
  background-color:#000;
  color: #eee;
  font-weight: 600;
  padding: 10px;
  letter-spacing: 1px;
}
.chatInputBox .sendMsg{
  position: absolute;
  bottom: 10px;
  right: 40px;
}
.chatInputBox .chatInputTip{
  position: absolute;
  top: -20px;
  left: 0;
  height: 20px;
  background-color: #f6f6f6;
  padding:2px 10px;
  font-size: 12px;
  box-sizing: border-box;
  color: #363636;
}
.dialogRight:before{
  position: absolute;
  content: '';
  left: -8px;
  top: 7.5px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 7px solid #000;
}
.dialogRight:after{
  position: absolute;
  content: '';
  left: -7px;
  top: 7.5px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 7px solid #fff;
}
.dialogLeft:before{
  position: absolute;
  content: '';
  right: -8px;
  top: 7.5px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #000;
}
.dialogLeft:after{
  position: absolute;
  content: '';
  right: -7px;
  top: 7.5px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #fff;
}
.dialogDown:before{
  position: absolute;
  content: '';
  top: -8px;
  left: 7.5px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #000;
}
.dialogDown:after{
  position: absolute;
  content: '';
  top: -7px;
  left: 7.5px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #fff;
}
.exit {
  margin-top: 20px;
  margin-left: 20px; 
  background-color: #777;
  line-height: 40px;
  width: 80px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.exit:hover{
  background-color: rgb(88, 87, 87);
}
.exit:active{
  background-color: #363636;
}

/* 请求中动画开始 */
.reqLoad{
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.4);
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
}
.reqLoad .font {
  font-weight: bold;
  font-size: 20px;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/* 请求中动画结束 */